<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel = 'stylesheet' href = '/css/reset.css'>
    <link rel = 'stylesheet' href = '/css/main.css'>
    <title>Pie Chain</title>
  </head>
  <body>

    <h2>Login</h2>

    <form method = "post" action = "/auth">
        <label for = ""></label>

        <input type = "text" name = "email"/>

        <label for = ""></label>

        <input type = "password" name = "password"/>

        <button>Submit</button>
    </form>
  </body>
</html>
